// COLORS
$color-primary: #10395E;
$color-primary-light: #2196f3;
$color-primary-light-0: #E1EFF2;
$color-primary-dark: #1565c0;

$color-secondary: #ff7e1c;
$color-secondary-light: #ff8a65;
$color-secondary-dark: #f4511e;

$color-tertiary: #4caf50;
$color-tertiary-light: #EE4000;
$color-tertiary-dark: #942800;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #aaa;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-grey-background: #F1F1F1;

// FONT
$default-font-size: 1.6rem;

// BUTTONS
$color-button-primary: #ff7e1c;

$color-transparent: #00000000;
