[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change icons */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*                  <-------------------------------P L A I N  I C O N S ----------------------------------->
    Example usage:

    <span class="icon-attack-measure">
    </span>
*/
.icon-attack-measure:before {
  content: "\e900";
}

.icon-delete:before {
  content: "\e901";
}

.icon-due-measures:before {
  content: "\e902";
}

.icon-edit:before {
  content: "\e903";
}

.icon-gaps:before {
  content: "\e904";
}

.icon-measures:before {
  content: "\e914";
}

.icon-patients:before {
  content: "\e91c";
}

.icon-payers:before {
  content: "\e926";
}

.icon-practices:before {
  content: "\e933";
}

.icon-reports:before {
  content: "\e943";
}

